.back-button-wrap {
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;

}

.back-button-wrap button {
    padding: 10px 20px;
    background-color: white;
    color: #000080;
    border: 1px solid #000080;
    border-radius: 4px;
    cursor: pointer;

}

.back-button-wrap button:hover{
    /* background-color: #FF550C; */
}
