/* 

.ProductDetailPageWrap{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;    

}

.ProductDetailPageWrapA{
    width: 90%;
}

.ProductDetailPage{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;

}

.ProductDetailPageLeft{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 6%;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;


}

.ProductDetailPageLeft img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid blue;
    cursor: pointer;
}


.ProductDetailPageLeft2{
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    width: 6%;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;


}

.ProductDetailPageLeft2 img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid blue;
    cursor: pointer;
}

.ProductDetailPageMid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;

}

.ProductDetailPageMid img{
    width: 100%;
    margin-top: 80px;
}

.ProductDetailPageRight{
    display: flex;      
    flex-direction: column;
 
    width: 50%;
    margin-top: 30px;
    
}


.QuantityWrap{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.QuantityControl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 50px;

    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 10px;
}

.QuantityControl p {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.QuantityControl p:hover{

    background-color: lightgray;
}


.DetailPageUspImg{
    margin-top: 100px;
    width: 100%;
}

.QualityAndCartButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;        
    margin-top: 50px    ;    
}

.QualityAndCartButton button{

    padding: 25px;
    width: 45%;
    cursor: pointer;
    background-color: orange;
    border-radius: 5px;
    border: 1px solid orangered;
    font-weight: bold;
    font-size: 1rem;
}

.QualityBadge{
    margin-right: 20px;
}


.GuarranteeWrap{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.GuarranteeWrap p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    gap:5px;
    font-weight: bold;
}


@media screen and (max-width:884px) {
    .ProductDetailPage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
    }   

    .ProductDetailPageLeft{
        display: none;
    }

    .ProductDetailPageLeft2{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        margin-left: 0px;
        margin-top: 30px;
    }

    .ProductDetailPageMid{
        width: 100%;
    }
    .ProductDetailPageRight{
        width: 95%;
        text-align: center;
    }
    .QuantityWrap{
        width: 100%;
        align-items: center;
    }
    .QualityAndCartButton{
        flex-direction: column;
        width: 100%;
    }
    .QualityAndCartButton button{
        width: 100%;
        margin-bottom: 20px;
    }
    .GuarranteeWrap{
        width: 100%;
        text-align: center;
    }

    .GuarranteeWrap p{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
} */






.ProductDetailWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap:100px;
    flex-direction: column;
    padding: 150px 0px;
}

.product-detail {
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px; */
    
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .image-gallery {
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    position: relative;
    gap: 10px;
  }
  
  .main-image {
    width: 70%;
    max-width: 600px;
    height: 350px;
    margin-bottom: 10px;
  }
  
  .thumbnail-images {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .thumbnail-image {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  .thumbnail-imageActive{
    border: 2px solid green;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .product-info {
    /* flex: 1 1 35%; */
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  
  .product-info h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #000080;
  }
  
  .product-info span {
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
  
  .amount {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000080;
  }
  
  .buy-now, .add-to-cart {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .buy-now {
    background-color:#000080;
    color: white;
    border: none;
    transition: 350ms;
    transform: scale(1);
  }

  .buy-now:hover{
    background-color: gray;
  }
  
  .add-to-cart {
    background-color: none;
    color:#000080;
    font-weight: 600;
    border: 1px solid #000080;
  }
  
  .wishlist-icon {
    color:green;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
  }

  .BackButtonWrap button{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px 20px;
    color: #000080;
    background-color:white;
    border: 1px solid #000080;
    cursor: pointer;
    font-weight: 600;
  }
  
  @media (max-width: 768px) {
    .product-detail {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  
    .image-gallery {
      margin-right: 0;
      margin-bottom: 20px;
      width: 90%;
    }

    .product-info{
      width: 90%;
    }
  }
  
  @media screen and (max-width:320px) {
    .thumbnail-image, .thumbnail-imageActive{
      width: 60px;
      height: 60px;
    }
    .thumbnail-images{
      padding: 0px 50px;
    }
  }